RewriteEngine On
RewriteBase /caminosseguros/

# Si la URL no contiene /public, redirige hacia /caminosseguros/public/
RewriteCond %{REQUEST_URI} !^/caminosseguros/public
RewriteRule ^(.*)$ /caminosseguros/public/$1 [L]





