RewriteEngine On
RewriteBase /rutasegura/

# Si la URL no contiene /public, redirige hacia /rutasegura/public/
RewriteCond %{REQUEST_URI} !^/rutasegura/public
RewriteRule ^(.*)$ /rutasegura/public/$1 [L]





